<app-nav-bar></app-nav-bar>
<mat-card>
  <mat-card-content>
    <form>
      <h1 style="text-align: center;color:darkmagenta">Budget Approval Request</h1>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Pupose</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description:(Briefly Explain the purpose of Request)</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Advanced amount:</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matPrefix>₹&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Estimeted Cost</mat-label>
        <input type="number" matInput placeholder="Enter Amount">
        <span matPrefix>₹&nbsp;</span>
        <span matSuffix>.00</span>
    </mat-form-field>&nbsp;&nbsp;
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Plan Date</mat-label>
      <input type="date" matInput placeholder="date">
  </mat-form-field>&nbsp;&nbsp;
      <button mat-raised-button color="primary">Submit</button>&nbsp;&nbsp;
      <button mat-raised-button color="warn">Cancel</button>
    </form>
  </mat-card-content>
</mat-card>









 <!-- <mat-form-field>
        <h3>Pupose</h3><input placeholder="" name="name">
      </mat-form-field>
      <mat-form-field>
        <h3>Description:(Briefly Explain the purpose of Request)</h3><br>
        <textarea placeholder="Comment"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
      <mat-form-field>
        <h3>Advanced amount:</h3><input placeholder="" name="name">
      </mat-form-field>
      <mat-form-field>
        <h3>Estimated Cost</h3><input placeholder="" name="name">
      </mat-form-field>
      <mat-form-field>
        <h3>Plan Date</h3><input placeholder="" name="name">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field> -->

<!-- <mat-drawer-container>
  <mat-drawer-content>
<mat-card>
    <mat-card-content>
      <form>
        <div class="row">
        <h2 class="text-align:center">Budget Approval Request</h2>
        <mat-form-field>
            <mat-grid-list cols="1" rowHeight="200px">
              <mat-form-field floatLabel="always">
                <mat-label>srinivas</mat-label>
                <input matInput>
              </mat-form-field>
            </mat-grid-list>
          <label for="inputdefault">Pupose</label>
          <input class="form-control" id="inputdefault" type="text">
        </mat-form-field><br>
        <mat-form-field>
          <label for="inputdefault">Description:(Briefly Explain the purpose of Request</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </mat-form-field><br>
        <mat-form-field>
          <div class="row">  
            <div class="col-sm-6">                       
                <label for="pwd">Who's  your Aprrover</label>          
                   <input type="email" class="form-control"   id="address"><br>
                   <label for="pwd">Advanced amount:</label>          
                   <input type="email" class="form-control"><br><br>
                   <button mat-raised-button color="primary">Submit</button>
            </div>
           <div class="col-sm-6">
              <label for="pwd">Estimated Cost</label>
               <input type="email" class="form-control" > <br>
               <label for="pwd">Plan Date</label> 
               <input type="email" class="form-control"> <br><br>
               <button mat-raised-button color="warn">Cancel</button>
           </div> <br>   
           </div>
        </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card> 
</mat-drawer-content>
</mat-drawer-container> -->


<!--<mat-drawer-container>
    <mat-card-content>
      <form>
        <div class="row">
        <h2 class="text-align:center">Budget Approval Request</h2>
        <mat-form-field>
          <label for="inputdefault">Pupose</label>
          <input class="form-control" id="inputdefault" type="text">
        </mat-form-field><br>
        <mat-form-field>
          <label for="inputdefault">Description:(Briefly Explain the purpose of Request</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </mat-form-field><br>
        <mat-form-field>
          <div class="row">  
            <div class="col-sm-6">                       
                <label for="pwd">Who's  your Aprrover</label>          
                   <input type="email" class="form-control"   id="address"><br>
                   <label for="pwd">Advanced amount:</label>          
                   <input type="email" class="form-control"><br><br>
                   <button mat-raised-button color="primary">Submit</button>
            </div>
           <div class="col-sm-6">
              <label for="pwd">Estimated Cost</label>
               <input type="email" class="form-control" > <br>
               <label for="pwd">Plan Date</label> 
               <input type="email" class="form-control"> <br><br>
               <button mat-raised-button color="warn">Cancel</button>
           </div> <br>   
           </div>
        </mat-form-field>
        </div>
      </form>
    </mat-card-content> 
  </mat-drawer-container>  --> -->
<!--<div class="container">
  <h2 class="color:blue;">Budget Approval Request</h2>
  <form>
    <div class="row">
    <div class="form-group">
      <label for="inputdefault">Pupose</label>
      <input class="form-control" id="inputdefault" type="text">
    </div><br><br><br>
    <div class="form-group">
      <label for="comment">Description:(Briefly Explain the purpose of Request)</label><br>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div><br>
    <div class="form-group">
      <div class="row">  
        <div class="col-sm-6">                       
            <label for="pwd">Who's  your Aprrover</label>          
               <input type="email" class="form-control"   id="address"><br>
               <label for="pwd">Advanced amount:</label>          
               <input type="email" class="form-control"><br><br>
               <button type="button" text-align="right" class="btn btn-primary">Submit</button>
        </div>
       <div class="col-sm-6">
          <label for="pwd">Estimated Cost</label>
           <input type="email" class="form-control" > <br>
           <label for="pwd">Plan Date</label> 
           <input type="email" class="form-control"> <br><br>
           <button type="button" class="btn btn-warning">Cancel</button>
       </div> <br>            
    </div> 
</div>
    </div>
  </form>
</div> -->